# ignore these files
*.a
*.o
*.obj
*.dll
*.exe
*.output
*.tar.gz
*.zip
*.ppu
*.user
*.lib
*.pdb
*.dch
objs/.vs/**
objs/Win32/**
objs/x64/**
/sample/ArrayTest/Win32/**
/sample/ArrayTest/x64/**
/sample/ArrayTest/include/**
/sample/ArrayTest/work/**
/sample/mseom/Win32/**
/sample/mseom/x64/**
/sample/mseom/include/**
/sample/mseom/work/**
/sample/Rosenbrock/Win32/**
/sample/Rosenbrock/x64/**
/sample/Rosenbrock/include/**
/sample/Rosenbrock/work/**
